*{
 margin: 0px;
 padding: 0px;
}
#hero{
 height:735.2px ;
 background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("/assets/hero-bg.png");
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
}
#hero>.hero-content{
 width: 818.4px;

 
}
.sub-title{
 color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 12.8px;
}

.title{
 color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 51.2px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19.2px;
  
}
.btn-div{
 text-align: center;
}


.description{
 color: rgb(255, 255, 255);
  font-family: "Work Sans";
  font-size: 14.4px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 42.4px;
}
.btn{
 padding: 16.8px 25.6px 16.8px 25.6px;
 color: rgb(255, 255, 255);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 18.4px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
}

#card-box{
 width: 1056px;
 margin: 60px auto;
}

#card-box .title{
 color: rgb(16, 16, 16);
  font-family: "Work Sans";
  font-size: 38.4px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: 0%;
  text-align: center;
  /* Your Favorite Brands Food Are Now On Sale */
   /* position: static; */
   width: 552px;
   height: 102.4px;
   
   /* Auto layout */
   /* display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 12.8;
   padding: 0px; */
  
 
   /* Inside Auto Layout */
   /* flex: none;
   order: 1;
   flex-grow: 0;
   margin: 12.8px 0px; */
}

#card-box .sub-title{
color: rgb(16, 16, 16);
 font-family: "Work Sans";
 font-size: 19.2px;
 font-weight: 500;
 line-height: 22.4px;
 letter-spacing: 0%;
 text-align: center;
 opacity: 0.6;
}

#card-box .title-div{
 
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-bottom: 48.4px;
}
.card-container{
 margin-bottom: 51.2px;
 display: flex;
 gap: 19.2px;
}

.card{
 width: 337.6px;
 height: 417.6px;
 display: flex;
 flex-direction: column;
 justify-content: start;
 align-items: center;
}

.card-img{
 width: 339.2px;
 height: 226.4px;
 margin-bottom: 25.6px;
}
.card1-cover{
background-image: url("/assets/pizza.png");
background-size: contain;
}
.card2-cover{
background-image: url("/assets/biriyani.png");
background-size: contain;
}
.card3-cover{
 background-image: url("/assets/burger.png");
 background-size: contain;
}

.dish-name{
 border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  width: 148.6px;
  height: 44.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19.2px;
}

.dish-name span{
 color: rgb(16, 16, 16);
  font-family: "Work Sans";
  font-size: 19.2px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0%;
  text-align: center;
}

.offer{
 color: rgb(16, 16, 16);
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 37.6px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19.2px;
}
.dish-description{
 color: rgb(16, 16, 16);
  font-family: "Work Sans";
  font-size: 14.4px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

